<launch>
  <node name="imitation_rosbag_record" pkg="rosbag" type="record" output="screen"
        args="/tf
              /joint_states
              /right_endeffector/wrench
              /left_endeffector/wrench
              /pr2_state/angle_vector
              /pr2_state/rarm_angle_vector
              /pr2_state/larm_angle_vector
              /pr2_state/rarm_end_coords
              /pr2_state/larm_end_coords
              /kinect_head/rgb/camera_info
              /kinect_head/depth_registered/camera_info
              /kinect_head/rgb/image_rect_color/compressed
              /kinect_head/depth_registered/image_rect/compressedDepth
              -o $(find imitation_learning_pr2)/bags/" />
</launch>
